.form-group.eipsi-field {
    &.eipsi-textarea-field {
        textarea {
            width: 100%;
            resize: vertical;
            min-height: 120px;
        }
    }

    .field-helper {
        margin-top: 0.6em;
        font-size: 0.9em;
        color: var(--eipsi-color-helper-text, #64748b);
        font-style: italic;
        line-height: 1.5;
    }
}
