/**
 * Waves Manager - Anonymization Modal Styles
 * 
 * @package EIPSI_Forms
 * @since 1.4.3
 * 
 * Styles for Close & Anonymize Study modal
 * Implementation: TASK 5.2.3
 */

/* Placeholder - styles will be implemented in TASK 5.2.3 */
